
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="tech-btm">
    <h4>Email Bültenine Abone Ol</h4>
    <p>Gelişmelerden haberdar olmak istiyor musunuz?</p>
    <form action="/Newsletter/SubscribeMail/" method="post">
        <input type="email" placeholder="Email Adresiniz" required="" name="NewsletterMail">
        <input type="submit" value="Abone Ol">
    </form>
</div>