
@{
    ViewData["Title"] = "BlogTitleListWithExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Blog Title List With Excel</h1>
<br />
<button class="btn btn-primary" onclick="DownloadExcelBlogList()">Export Excel</button>

<script>
    function DownloadExcelBlogList(){
        window.open("/Admin/Blog/ExportDynamicExcelBlogList");
    };
</script>
